/* core style */


@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap');
:root{
  --lexand-docs: 'Lexend Deca', sans-serif;
  --space-mono: 'Space Mono', monospace;
  --dark-navy:#485567;
  --light-gray:#E5ECF4;
  --dim-gray:#939CAA;
  --yellow:#FCB72B;
  --light-pink:#FFF4DF;
  --snow:#F2F5F9;
  --border: 1px solid black;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--lexand-docs);
  font-family: var(--space-mono);
  overflow-x: hidden;

}
a{
  text-decoration: none;
} 
ul,li{
  list-style: none;
} 
h1,h2,h3,h4,h5,h6{
  font-family: var(--space-mono);
  font-weight: bold;
}
.global-h{
font-family: var(--space-mono);
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 56px;
letter-spacing: -2.5px;
}
.global-p{
font-family: var(--lexand-docs);
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
}
.btn{
  border: none;
  outline: none;
  width: 180px;
  height: 53px;
  background-color: var(--yellow);
  border-radius: 1px;
  cursor: pointer;
  transition: all .2s ease;
}
.btn:hover{
  background-color: white;
  border: 2px solid #FCB72B;
  cursor: pointer;
}
.btn:hover a{
  text-decoration: none;
  color: #FCB72B;
}
.btn a{
font-family:var(--space-mono);
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
text-decoration: none;
}
header,main,footer{
  width: 100%;
  box-sizing: border-box;
}
.container{
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* /end core style */

/* start header style  */
header{
  margin-bottom: 100px;
}
.header-nav{
  width: 100%;
  height: 109px;
    position: fixed !important;
    top:0;
  background-color: #FFFFFF;
  z-index: 9;
}
.flex{
  width: 100%;
  height: 96px !important;
  display: flex;
  align-items: center;
  gap: 56px;
}
.header-nav__logo{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav__logo a{
  font-size: 42px;
  color:var(--dark-navy);
  font-weight: 800;
  letter-spacing: 1px;
}
.header-nav__logo a:hover{
  color: #0d4491;
}
.header-nav__list{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav__lists{
  display: flex;
  align-items: center;
  gap: 32px;
}
.header-nav__lists-items a{
  font-family:var(--space-mono);
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 25px;
color: #939CAA;
}
.header-nav__lists-items a:hover{
  color:#173f78;
}

.burger{
  cursor: pointer;
display: none;
}
.burger div{
  height: 3px;
  width: 25px;
  background-color:#485567;
  margin: 5px;
  transition: transform 0.5s linear;
}
.burger:hover div{
  background-color: #FCB72B;
}

.toggle .line-1{
  transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line-2{
  opacity: 0;
  }
  .toggle .line-3{
    transform: rotate(45deg) translate(-5px , -6px);
  }


/* /end header style  */

/* start hero style */
.header-hero{
  width: 100%;
  height: 800px;
  background: url(../images/Bitmap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  background-blend-mode:multiply;
  opacity: 0.9;
  background-color:rgba(15, 23, 84, 0.7);
  position: relative;
  background-attachment: fixed;
  /* margin-bottom: 160px; */
}
.header-hero__txt{
  width: 100%;
  position: relative;
  top: 200px;

}
.header-hero__txt h1{
  color: #FFFFFF;
  width: 50%;
  line-height: 120%;
  margin-bottom: 40px;
}
.header-hero__txt>div p{
  margin: 0px 70px;
  color: #FFFFFF;
  width: 35%;
}
.header-hero__row{
  position: absolute;
  left: 0;
  bottom: 44.8%;
}
.header-hero__arrow{
  position: absolute;
  left: 46%;
  bottom: 28%;
}
.btn1{
  margin-left: 70px !important;
  margin-top: 40px;
}

/* /end hero style */
/* start services style  */
section{
  width: 100%;
}
.services-section{
  position: relative;
  overflow: hidden;
}
.services-cards{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-top: 160px;
  
}
.services-cards__items{
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.services-cards__items span{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--yellow);
  margin-bottom: 40px;
}
.services-cards__items h4{
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
color: #495567;
margin-bottom: 27px;
}
.services-cards__items>div p{
  color: #939CAA;
}
.row{
  position: absolute;
  top: 200px;
  left: 0;
  width: 1150px;
  z-index: -1;
}


/* /end services style  */
/* start easyUse style  */
.poyments-section,
.easyUse-section{
  margin: 142px 0px 0px 0px ;
  background-image: url(../images/Mask.png);
  background-repeat: no-repeat;
  background-position: 1550px;
  overflow: hidden;

}
.poyments-wrapper,
.comingTo-wrapper,
.easyUse-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.poyments-text,
.comingTo-text,
.easyUse-text{
  width: 50%;
  padding-left: 30px;
}
.poyments-text h2,
.comingTo-text h2,
.easyUse-text h2{
  color: #495567;
  margin-top: 50px;
  margin-bottom: 24px;
  width: 445px;
  font-size: 45px;
}
.poyments-text>div p,
.comingTo-text>div p,
.easyUse-text>div p{
  color: #939CAA;
  margin-bottom: 54px;
  width: 63%;
}
.easyUse-img,
.easyUse-img{
  display: flex !important;
  position: relative;
  width: 50%;
  align-items: flex-end;
}
.easyUse-img img:first-of-type{
  width: 100% !important;
  margin-left: 15%;
}

.arrow{
  position: absolute;
  left: 0;
  width: 1200px;
}
.easyUese-bg{
  display: none;
}
.soqa{
  border-radius: 50% !important;
}
/* /end easyUse style  */

/* start cominTo style  */
.comingTo-section{
margin-top: 200px;
background-image: url(../images/Mask.png);
background-repeat: no-repeat;
background-position:-300px !important;
overflow: hidden;
}
.comingTo-wrapper{
  flex-direction: row-reverse;
gap: 120px !important;
}
.arrow2{
  position: absolute;
  left: -650px;
  width: 1200px;
  height: 200px;
  top: 0;
}
.manzara{
  border-radius: 50%;
 position: relative;
 left: -70px;
}
/* /end cominTo style  */

/* start poyments style  */
.poyments-section{
  margin-bottom: 300px;
}
.poyments-wrapper{
  gap: 0;
}
.poyments-text{
  padding-left: 100px !important;
}
.poyments-text>div p{
  width: 90%;
}
.poyments-text h2{
  width: 80%;
}
.arrow3{
  position: absolute;
  width: 1000px;
  right:-700px !important;
}
/* /end poyments style  */

/* start footer style  */
footer{
  background-image: url(../images/Group\ 22.png);
  background-color: #485567;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
.footer-wrapper{
  display: flex;
  width: 100%;
  /* border: solid white; */
  justify-content: space-between;

}
.footer-title h2{
width:500px;
height: 96px;
color: #FFFFFF;
margin-top: 102px;
}
.footer-apps{
  margin-top: 102px;
  display: flex;
  gap:  35px;
  align-items: center;
}
.gooogle-play,
.appstore{
  width: 159px;
  height: 56px;
  background: #E5ECF4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}.gooogle-play:hover,
.appstore:hover{
  background: #657d97;

}
.appstore-txt,
.google-play__txt{
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.icon i{
  font-size: 32px;
}
.appstore-txt p:first-of-type,
.google-play__txt p:first-of-type{
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
letter-spacing: -0.446429px;
color: #495567;
}

.footer-bootom{
  width: 100%;
  height: 100px;
  background-color: #333A44;
}
.footer-nav{
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 102px;
  height: 100%;
  justify-content: center;
  /* padding-top: 40px; */
}
.footer-nav__wrapper{
  width: 80%;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.footer-logo{
  width: fit-content;
}
.footer-logo a{
font-family: var(--space-mono);
font-weight: 900;
font-size: 45px;
transition: color .2s ease;
color: var(--light-gray);
}
.footer-logo a:hover{
  color: #485567;
}
.footer-nav__lists{
  display: flex;
  align-items: center;
  gap: 33px;
  padding: 20px 0px;
}
.footer-nav__lists li a{
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 25px;
color: #939CAA;
}
.footer-nav__lists li a:hover{
  color: #4d6c9e;
}
.footer-socials{
  display: flex;
  gap: 15px;
}
.footer-socials i{
  font-size: 24px;
  color: #FCB72B;
  transition: all 0.2s linear;
}
.footer-socials i:hover{
  transform: translateY(-5px);
  color:#4d6c9e;
}

/* /end footer style  */